services:
  - type: web
    name: next-payload-app
    env: node
    plan: starter 
    region: singapore
    branch: main

    buildCommand: |
      npm install
      npm run build

    startCommand: npm run start

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 3000

      # Payload
      - key: PAYLOAD_SECRET
        generateValue: true

      - key: PAYLOAD_PUBLIC_SERVER_URL
        value: https://next-payload-app.onrender.com

      # MongoDB
      - key: MONGODB_URI
        sync: false

      # Next.js
      - key: NEXT_TELEMETRY_DISABLED
        value: "1"

      # next-intl
      - key: NEXT_PUBLIC_DEFAULT_LOCALE
        value: en

    autoDeploy: true
